* {

}

/*for settigns page */
.settings {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.info-section {
	width: 47%;
	height: 300px;
	margin: 10px;
	overflow: hidden;
	padding: 20px;
	border: 1px solid #dedede;
	box-shadow: 0 1px 0 #dedede;
	border-radius: 3px;
	box-sizing: border-box;

}

.info-section-head {
	position: relative;
  	padding-bottom: 50px;
}

.info-section-head h3{
	float: left;
	display: block;
	position: relative;
	z-index: 2;
  	line-height: 18px;
}

a.edit {
	-webkit-appearance: none;
			position: absolute;
			right: 0;
			top: -5px;
			background: #ed786a;
			color: #fff !important;
			border-radius: 4px;
			border: 0;
			outline: 0;
			font-size: 1em;
			font-weight: 600;
			text-align: center;
			padding-left: 5px;
			padding-right: 5px;
			-moz-transition: all 0.25s ease-in-out;
			-webkit-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
			
}

dl {
  width: 100%;
  border-bottom: 1px solid #EEE;
  overflow: hidden;
}

dt {
	float: left;
	width: 30%;
	text-align: left;
}

dd {
	float: left;
	width: 70%;
	text-align: left;
	color: rgb(237, 120, 106);
}

/*for recommendation part in index page */

.panel {
	border: 1px solid #dedede;
	box-shadow: 0 1px 0 #dedede;
	border-radius: 5px;
	background-color: rgba(222, 222, 222, 0.12);
	box-sizing: border-box;
}

.panel-head h3 {
	margin: 10px 5px 5px 5px;
}

.recommend-friend-header {
	margin: 0px 0px 10px 5px;
	letter-spacing: 0.1px;
	color: rgb(59, 96, 39);
}


.recommend-friend-area {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 5px;
}

.group {
	width: 33%;
	text-align: center;
}

.user-head {
	border-bottom: none;
}
.user-name {
	font-size: 14px;
	font-weight: 700;
}

#link-to-all-friends {
	text-align: right;
	padding: 5px;
}

#link-to-all-friends a {
	font-weight: 500;


}

.overlay {
	visibility: hidden;
    position: absolute;
    left: 550px;
    top: 600px;
    text-align:center;
    z-index: 1000;

}

.overlay p {
	margin: 0px 0px 10px 5px;
	letter-spacing: 0.1px;
	color: rgb(59, 96, 39);
	text-align: left;
	font-size: 14px;
}

div.overlay  {
     width:400px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}

.overlay .small-profile-image {
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
}


/*for slide show in not-logged-in index page */

#slideshow-wrapper {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	box-sizing: border-box;
}
#slideshow { 
    position: relative; 
    width: 65%; 
    height: 550px;
    margin-left: 30px; 
    margin-right: 30px;  
    box-sizing: border-box;
}

#slideshow > div { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 10px; 
    bottom: 10px; 
}

#slideshow img {
	width: 100%;
	box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

.web-discription {
	width: 28%;
	text-align: center;
	padding: 80px 10px 10px 10px;
	box-sizing: border-box;
}


.my_h1 {
	color: #ED786A;
	font-size: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.my_p {

	letter-spacing: 0.1px;
	text-align: center;
	font-size: 20px;
	margin-bottom: 40px;

}

.my_a {
	background: #ed786a;
	color: #fff !important;
	border-radius: 4px;
	font-size: 1em;
	font-weight: 600;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	
}

.my_div {
	min-height: 330px; 
	width: 50%; 
	margin: auto; 
	padding: 20px;
}


/* for friends page*/
.friend {
	position: relative;

}

.friend .user-head {
	position: absolute;
	top: 10px;
	left: 10px;
}

.friend .friend-content {
	margin-left: 180px;
	min-height: 180px;
}

.friend p {
	letter-spacing: 0.1px;
	text-align: left;
	font-size: 15px;
	color: rgb(59, 96, 39);
	margin: 5px;
}

.friend-content span {
	font-weight: 500;
}

.with-flex {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.group2 {
	width: 50%;
	text-align: center;
}







