{% extends 'wetravel/base.html' %}
{% block title %}Add Place{% endblock %}
{% block content %}

<table>
    <td>
    <h1 class="center">Where would you like to go</h1>
    <form id="place_form" method="post" action="/wetravel/add_to_visit">
      {% csrf_token %}

        <input type="text" name="country" class="form-control" placeholder="Country"><br>
        <input type="text" name="state" class="form-control" placeholder="State"><br>
        <input type="text" name="city" class="form-control" placeholder="City"><br>
        <input type="text" name="address" class="form-control" placeholder="Address"><br>

      <input type="submit" name="submit" value="Add Place">
    </form>
    
    <p>{{ user.userprofile.to_visit }}</p>
  </td>

  <td>
    <h1 class="center">Where you had visited</h1>
    <form id="place_form" method="post" action="/wetravel/add_visited">
      {% csrf_token %}

        <input type="text" name="country1" class="form-control" placeholder="Country"><br>
        <input type="text" name="state1" class="form-control" placeholder="State"><br>
        <input type="text" name="city1" class="form-control" placeholder="City"><br>
        <input type="text" name="address1" class="form-control" placeholder="Address"><br>
        <input type="text" name="comment" class="form-control" placeholder="Comment"><br>

      <input type="submit" name="submit1" value="Add Place">
    </form>
    
    {% for visited in user.userprofile.visited.all %}
      <p>{{ visited }}</p>
      {% for comment in visited.placecomment_set.all %}
        <p>{{ comment.text }}</p>
      {% endfor %}
    {% endfor %}

  </td>
  </table>

{% endblock %}