<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
   <!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <link rel="icon" href="/static/images/favicon.ico">-->

    <title>WeTravel | {% block title %}{% endblock %}</title>


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/css/skel.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/style-desktop.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.dropotron.min.js"></script>
    <script src="static/js/skel.min.js"></script>
    <script src="static/js/skel-layers.min.js"></script>
    <script src="static/js/init.js"></script>
    <noscript>
      <link rel="stylesheet" href="/static/css/skel.css" />
      <link rel="stylesheet" href="/static/css/style.css" />
      <link rel="stylesheet" href="/static/css/style-desktop.css" />
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
  </head>

  <body class="homepage">
    <div id="header-wrapper">
        <div id="header" class="container">
          
          <!-- Logo -->
            <!--<h1 id="logo"><a href="index.html">Strongly Typed</a></h1>
            <p>A responsive HTML5 site template. Manufactured by HTML5 UP.</p>-->
          
          <!-- Nav -->
            <nav id="nav">
              <ul>
                <li><a class="icon fa-home" href="/wetravel"><span>Homepage</span></a></li>
                <li><a class="icon fa-info" href="/wetravel/about"><span>About</span></a></li>
                {% if user.is_authenticated %}
                <li><a class="icon fa-user" href="/wetravel/profile" ><span>Profile</span></a></li>
                <li><a class="icon fa-users" href="/wetravel/friends"><span>Friends</span></a></li>
                <li><a class="icon fa-envelope" href="/wetravel/requests" ><span>Requests</span></a></li>
                <li>
                  <a href="" class="icon fa-gear"><span>Account</span></a>
                  <ul>
                    <li><a href="#">Settings</a></li>
                    <li><a href="/wetravel/logout">Logout</a></li>
                  </ul>
                </li>
                {% else %}
                <li><a class="icon fa-leaf" href="/wetravel/signup"><span>Sign Up</span></a></li>
                <li><a class="icon fa-sign-in" href="/wetravel/login"><span>Log in</a></span></li>
                {% endif %}
              </ul>
            </nav>
      </div>
    </div>

    <!-- Main -->
    <div id="main-wrapper">
      <div id="main" class="container">
        {% block content %}{% endblock %}
      </div>
    </div>

    <!-- Footer -->
    <div id="footer-wrapper">
      <p>&copy; TAMU CSCE 671 WeTravel Group 2015</p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
</html>
