{% extends 'wetravel/base.html' %}
{% block title %}My Profile{% endblock %}
{% block content %}
<!-- Main -->
      <div id="main-wrapper">
        <div id="main" class="container">
          <div class="row">

            <!-- Content -->
              <div id="content" class="8u">
                <h2>See what our friends do recently</h2>
                <ul class="actions">
                      <li><a href="/wetravel/create-post/" class="button icon fa-file">Post</a></li>
                </ul>
                {% for my_post in my_posts %}
                <article class="box post">

                 <h3><li>{{ my_post.text }}</li></h3>
          <ul><!--<a  href="../delete_confirm/{{my_post.id}}/" role="button"><small>        Delete</small></a>-->
            <a  href="#" role="button"><small>        Delete</small></a>
            <a  href="../privacy_choose/{{my_post.id}}/",role="button"><small>Setting</small></a>
                 </ul>

                </article>
               {% endfor %}
              </div>
            </div>
       </div>
      </div>

	<script type="text/javascript">
  //function delete{//
	var r=confirm("Press a button!");
	//var a={{param}};
	if (r==true)
  {
  	//alert("You pressed {{param}}");
  	window.location.href='/../wetravel/delete/{{param}}/';
   //document.getElementById("demo").innerHTML=a;
  }
   else
  {
   alert("You pressed Cancel!");
   window.location.href='/../wetravel/profile/{{param2}}';
  }
//}
</script>




{% endblock %}