{% extends 'wetravel/base.html' %}
{% block title %}Friends{% endblock %}
{% block content %}


<div>
  
    {% if user.userprofile.requests.all %}
      <h3>Requests</h3>
      <div class="with-flex">
      {% for requester in user.userprofile.requests.all %}
        <div class="requests">
          <form method="post" action="/wetravel/process_request/">
            {% csrf_token %}
            <input type="hidden" value="{{ requester.user.username }}" name="requester_username" />
            <a class="user-head" href="/wetravel/profile/{{requester.id}}"><img border="0" alt="{{requester.user.username }}" src="{{ requester.avatar_image }}" height="80" weight="80"/></a><br>
            <span class="user-name">{{ requester.user.username }}</span><br>
            <input  type="submit" name="accept" value="Accept" />
            <input  type="submit" name="decline" value="Decline" />
          </form>
        </div>
      {% endfor %}
      </div>
    {% endif %}
  
  <hr>

  <div class="add_friends">
    <form id="send_friend_request_form" method="post" action="../send_friend_request/">
      {% csrf_token %}
      Add friends by username: <input type="text" name="username" value="" size="50" style="width: 50%"/>
      <br />
      <input type="submit" name="submit" value="Add friend" />
    </form>
  </div>
  <br>
  <hr>

  <div>
      <br>
      <h3>Friends</h3>
      {% for friend in user.userprofile.friends.all %}
        <div class="friend">
          <a class="user-head" href="/wetravel/profile/{{friend.id}}">
            <img border="0" alt="{{friend.user.username}}" 
            src="{{ friend.avatar_image }}" height="150" weight="150"/><br>
          </a>
          <div class ="friend-content">
            <p><span>username</span>: {{friend.user.username}}</p> 
              {% if friend.to_visit%}
              <p><span>Wants to go to:</span> <br>{{friend.to_visit}}</br></p>
              {% endif %}
              {% if friend.visited.all %}
                <p><span>Has been to:</span>
                {% for place in friend.visited.all %}
                  {% if place %}
                  </br>{{ place }}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </p>
          </div>  
          
        </div> <!--end of class friend -->
        <hr>
      {% endfor %}
  </div>
  
</div> <!--end of class row-->

{% endblock %}