{% extends 'wetravel/base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container center">
    <h1>Welcome to WeTravel</h1>
    {% if user.is_authenticated %}
      <p>Hello {{user.username}}!</p>

  

    {% else %}
    <div class="col-md-4 col-md-offset-4">
      <p><a class="btn btn-primary btn-lg btn-block" href="/wetravel/signup" role="button">Sign up</a></p>
      <p><a class="btn btn-primary btn-lg btn-block" href="/wetravel/login" role="button">Log in</a></p>
    </div>
    {% endif %}
  </div>



  <div class="container center">
    <h2>See what our friends are doing recently</h2>
    {% if posts %}
    <ul>
        {% for post in posts %}
        <p> <a class="btn btn-info btn-md " href="/wetravel/profile/" role="button">{{post.publisher.user.username}} </a> post :{{ post.text }}</p>

        {% endfor %}
    </ul>
{% else %}
    <p>No post on your homepage.</p>
{% endif %}

  </div>
</div>
{% endblock %}
