{% extends 'wetravel/base.html' %}
{% load wetravel_extras %}
{% block title %}Index{% endblock %}
{% block content %}

  {% if user.is_authenticated %}
<!-- Main -->
      <div id="main-wrapper">           
        <div id="main" class="container">
          <div class="row">

            <!-- Content -->
              <div id="content" class="8u">
                <h2>See what our friends do recently</h2>
                <ul class="actions">
                      <li><a href="/wetravel/create-post/" class="button icon fa-file">Post</a></li>
                </ul>

                <!-- Post -->
                {% if posts %}

              {% for post in posts %}
                <article class="box post">

                  <h3><a  href="/wetravel/profile/" role="button">{{post.publisher.user.username}}</a></h3>
                   <h2>{{ post.text }}</h2>

                </article>
               {% endfor %}

            {% else %}
             <p>No post on your homepage.</p>
              {% endif %}

             </div>
             
                <!-- Sidebar -->
                            <div id="sidebar" class="4u">                            
                                <!-- Highlights -->
                                    <section>
                                        <ul class="divided">
                                            <li>

                                                <!-- Highlight -->
                                                    <article class="box highlight">
                                                        <header>
                                                            <h3><a href="#">Schedule a travel today!</a></h3>
                                                        </header>
                                                        <a href="#" class="image left"><img src="images/pic06.jpg" alt="" /></a>
                                                        <p>Schedule a travel among your friends and let them grow the group for you!</p>
                                                        <ul class="actions">
                                                            <li><a href="schedule" class="button icon fa-file">Learn More</a></li>
                                                        </ul>
                                                    </article>

                                            </li>
                                            <li>

                                                <!-- Highlight -->
                                                    <article class="box highlight">
                                                        <header>
                                                            <h3><a href="#">Add a place of interest</a></h3>
                                                        </header>
                                                        <a href="#" class="image left"><img src="images/pic07.jpg" alt="" /></a>
                                                        <p>Keen on visiting a place? Record your interests here and let your friends know!</p>
                                                        <ul class="actions">
                                                            <li><a href="#" class="button icon fa-file">Learn More</a></li>
                                                        </ul>
                                                    </article>

                                            </li>
                                            <li>

                                                <!-- Highlight -->
                                                    <article class="box highlight">
                                                        <header>
                                                            <h3><a href="#">Record a place you visited</a></h3>
                                                        </header>
                                                        <a href="#" class="image left"><img src="images/pic07.jpg" alt="" /></a>
                                                        <p>Want to share your recent travel experience to your friends?</p>
                                                        <ul class="actions">
                                                            <li><a href="#" class="button icon fa-file">Learn More</a></li>
                                                        </ul>
                                                    </article>

                                            </li>
                                        </ul>
                                    </section>
                            
                            </div>
                            
           </div>
         </div>         
       </div>      



  {% else %}
          <h1 id="logo"><a href="index.html">We Travel</a></h1>
          <p>Let's go for travelling</p>


    <div id="features-wrapper">
        <section id="features" class="container">
          <header>
            <p><a class="btn btn-primary btn-lg btn-block" href="/wetravel/signup" role="button">Sign up</a></p>
           <p><a class="btn btn-primary btn-lg btn-block" href="/wetravel/login" role="button">Log in</a></p
          </header>
        </section>
      </div>


{% endif %}

{% endblock %}

