{% extends 'wetravel/base.html' %}
{% load wetravel_extras %}
{% block title %}Index{% endblock %}
{% block content %}

  {% if user.is_authenticated %}
<!-- Main -->
      <div id="main-wrapper">
        <div id="main" class="container">
          <div class="row">

            <!-- Content -->
              <div id="content" class="8u">
                <h2>See what our friends do recently</h2>
                <ul class="actions">
                      <li><a href="/wetravel/create-post/" class="button icon fa-file">Post</a></li>
                </ul>

                <!-- Post -->
                {% if posts %}

              {% for post in posts %}
                <article class="box post">

                  <h3><a  href="/wetravel/profile/" role="button">{{post.publisher.user.username}}</a></h3>
                   <h2>{{ post.text }}</h2>

                </article>
               {% endfor %}

              {% else %}
               <p>No post on your homepage.</p>
                {% endif %}
             </div>


            <div id="sidebar" class="4u">
              <div class="panel">

                <div class="panel-head">
                  <h3>Friends Activities</h3>
                </div>

                <div class="panel-content">

                  <div>
                    {% if candidates1 %}
                      <div class="recommend-friend-header">
                        <h4>Your friends who also want to go to {{ user.userprofile.to_visit.region.city }}</h4>
                      </div>

                      <div class="recommend-friend-area">
                        <ul class="recommend-friend-list">
                          <div class="group">
                            {% for candidate1 in candidates1 %}
                            {% if candidate1 %}
                              <li>
                                <p class="user-head">
                                  <a href="#">
                                    <img border="0" alt="{{candidate1.user.username}}" 
                                    src="{{ candidate1.avatar_image }}" height="100" weight="100"/>
                                  </a>
                                  <span class="username">{{candidate1.user.username}}</span>
                                </p>
                              </li>
                              {% endif %}
                              {% endfor %}
                          </div>
                        </ul>
                      </div>
                      
                    {% endif %}
                  </div>


                  <div>
                    {% if candidates2 %}
                      <div class="recommend-friend-header">
                        <h4>Your friends have been to {{ user.userprofile.to_visit.region.city }}</h4>
                      </div>

                      <div class="recommend-friend-area">
                        <ul class="recommend-friend-list">
                          <div class="group">
                            {% for candidate2 in candidates2 %}
                            {% if candidate2 %}
                              <li>
                                <p class="user-head">
                                  <a href="#">
                                    <img border="0" alt="{{candidate1.user.username}}" 
                                    src="{{ candidate2.avatar_image }}" height="100" weight="100"/>
                                  </a>
                                  <span class="username">{{candidate2.user.username}}</span>
                                </p>
                              </li>
                              {% endif %}
                              {% endfor %}
                          </div>
                        </ul>
                      </div>
                      
                    {% endif %}
                  </div>

                  

                </div>
              </div>

              <div class="panel">

                <div class="panel-head">
                  <h3>Friends Recommended</h3>
                </div>

                <div class="panel-content">
                  <div>
                    {% if candidates3 %}
                      <div class="recommend-friend-header">
                        <h4>Add new friends!!!</h4>
                      </div>

                      <div class="recommend-friend-area">
                        <ul class="recommend-friend-list">
                          <div class="group">
                            {% for candidate3 in candidates3 %}
                            {% if candidate3 %}
                              <li>
                                <p class="user-head">
                                  <a href="#">
                                    <img border="0" alt="{{candidate3.user.username}}" 
                                    src="{{ candidate3.avatar_image }}" height="100" weight="100"/>
                                  </a>
                                  <span class="username">{{candidate3.user.username}}</span>
                                </p>
                              </li>
                              {% endif %}
                              {% endfor %}
                          </div>
                        </ul>
                      </div>
                      
                    {% endif %}
                  </div>
              </div>

    
          </div>

        </div>
      </div>
    </div>



  {% else %}
          <h1 id="logo"><a href="index.html">We Travel</a></h1>
          <p>Let's go for travelling</p>


    <div id="features-wrapper">
        <section id="features" class="container">
          <header>
            <p><a class="btn btn-primary btn-lg btn-block" href="/wetravel/signup" role="button">Sign up</a></p>
           <p><a class="btn btn-primary btn-lg btn-block" href="/wetravel/login" role="button">Log in</a></p
          </header>
        </section>
      </div>


{% endif %}

{% endblock %}

