{% extends 'wetravel/base.html' %}
{% block title %}My Profile{% endblock %}
{% block content %}


<div class="jumbotron">
  <div class="container center">
<body>
	<form action="/wetravel/privacy/{{set_post.id}}/" method="post">
	<h4>What to <strong>EXCLUDE</strong> or <strong>INCLUDE</strong></h4>
	<input type="radio" name="ex_in" value="exclude" /> EXCLUDE
        <br/>
        <input type="radio" name="ex_in" value="include" /> INCLUDE
        <br/>
        <br>
	<h5>My friends</h5>



	 	{% csrf_token %}
	 	
	 	{% for namelist in namelists %}
	 	{{namelist}}
	 	<input type="checkbox" name="set_friends" value={{namelist}}  />
	 	<br>

	 	{% endfor%}
	 	<input type="submit" value="Submit" />
	 </form>


</body>
  	</div>
</div>


{% endblock %}