
{% extends 'wetravel/base.html' %}
{% load wetravel_extras %}
{% block title %}Profile{% endblock %}
{% block content %}

  
<div class="row">

  <!-- Content -->
    <div id="content" class="8u">

      {% if target_user %}
        {% if requester %}
          <h2 class="my_h2" style="text-transform: lowercase"><span>{{ target_user.user.username }}</span> Wants to add you as friend</h2>
        {% else %}
          <h2 class="my_h2">Your friend <span style="text-transform:lowercase">{{ target_user.user.username }}</span>'s page</h2>
      {% endif %}
      <div class="profile-header with-flex">
        
        <div class="group">
            <a class="user-head" href="/wetravel/profile/{{target_user.id}}">
              <img style="padding-top:20px" border="0" alt="{{target_user.user.username}}" 
              src="{{ target_user.avatar_image }}" height="120" weight="120"/><br>
              <span class="user-name">{{target_user.user.username}}</span>
            </a>                                
        </div>
        <div>
        {% if target_user.to_visit %}
          <p>Wants to go: </br><u>{{ target_user.to_visit }}</u></p>
          {% endif %}
          {% if target_user.visited %}
          <p>Has been to:
          {% for place in target_user.visited.all %}
            <br><u>{{ place }}</u> 
          {% endfor %}
          </p>
          {% endif %}
        </div>
      </div>
      {% else %}       
        <h2 class="my_h2">Your Profile Page</h2>
          <div class="profile-header with-flex">
            <div class="group">
                <a class="user-head" href="/wetravel/profile/{{user.id}}">
                  <img style="padding-top:20px" border="0" alt="{{.user.username}}" 
                  src="{{ user.userprofile.avatar_image }}" height="120" weight="120"/><br>
                  <span class="user-name">{{user.username}}</span>
                </a>                                
            </div>
            <div class="profile-content">
            {% if user.userprofile.to_visit %}
              <p>Wants to go: </br><u>{{ user.userprofile.to_visit }}</u></p>
              {% endif %}
              {% if user.userprofile.visited %}
              <p>Has been to:
              {% for place in user.userprofile.visited.all %}
                <br><u>{{ place }}</u> 
              {% endfor %}
              </p>
              {% endif %}
              <a href="/wetravel/create-post/" class="post_a icon fa-file">Post</a>
            </div>
            
          </div>
      {% endif %}
      <br>
      {% for post in my_posts %}
      <div class="my_post with-flex ">
          <div class="post_publisher">
              <a href= "/wetravel/profile/{{post.publisher.id}}"><img border="0" alt="{{post.publisher.user.username }}" src="{{ post.publisher.avatar_image }}" height="60" weight="60"/></br></a>
            </div>
            <div class="post_content">  
              <span class="user-name">{{ post.publisher.user.username }}</span>
              <p>{{ post.text }} 
                      {% if post.get_post_image %}
                      <img border="0" alt="Post Pics" src="{{ post.get_post_image }}"/>
                      {% endif %}
                    </p>
              {% if not target_user %}
              <ul>
                <li><a  href="../../delete_confirm/{{post.id}}/" role="button">Delete</a></li>
               <!-- <a href="javascript:rmPost()"  onclick="rmPost({{my_post.id}})" role="button"><small>        Delete</small></a>-->
                <li><a href="../../privacy_choose/{{post.id}}/",role="button">Setting</a></li>
              </ul>
              {% endif %}

              <div class="comment-content"> 
                {% if comment_lists %}          
                   {% for comment in comment_lists %}
                   {% ifequal post.id  comment.to_post.id %}                    
                   <p><span class="user-name">{{comment.login_user.username}}</span>:{{comment.text}}</p>
                   {%endifequal%}
                  {% endfor %}
               {%endif%}

                <form class ="my_form" action="/wetravel/comment_upload/{{post.id}}/" method="POST" id="comment-form">
                  {% csrf_token %}
                  <label>Comment:</label>
                  <input type="text" name="comment" id="comment-text"></input>

               </form>
             </div><!-- end of comment-content -->

           </div> <!-- end of post_content-->
      </div> <!--end of class my_post-->
      {% endfor %}


      
     

  
    </div> <!--end of 8u"-->



    <div id="sidebar" class="4u">
      <div class="panel">
        {% if target_user %}
          <div class="panel-head">
              <h3 style="text-align:center">Common Friends With <br>
                <span style="text-transform: lowercase">{{target_user.user.username}}</span> </h3><br>
          </div>

          <div class="panel-content">
            {% if common_friends %}
            <div class="with-flex">
              {%  for common_friend in common_friends%}
              <div class="group2">
                  <a class="user-head" href="/wetravel/profile/{{common_friend.id}}">
                    <img border="0" alt="{{common_friend.user.username}}" 
                    src="{{ common_friend.avatar_image }}" height="120" weight="120"/>
                    <span class="user-name">{{common_friend.user.username}}</span>
                  </a>                                
              </div>
              {% endfor %}
             </div>
            {% else %}
            <div>
              You have no common friends!
            </div>
            {% endif %}
          </div><!--end of panel-content-->
      {% else %}
        <div class="panel-head">
            <h3 style="text-align:center">Your Friends</h3><br>
        </div>
        <div class="panel-content">
          {% if friends %}
            <div class="with-flex">
              {%  for friend in friends%}
              <div class="group2">
                  <a class="user-head" href="/wetravel/profile/{{friend.id}}">
                    <img border="0" alt="{{friend.user.username}}" 
                    src="{{ friend.avatar_image }}" height="120" weight="120"/>
                    <span class="user-name">{{friend.user.username}}</span>
                  </a>                                
              </div>
              {% endfor %}
             </div>
          {% else %}
            <div>
              You don't have friends right now.
            </div>

          {% endif %}

        </div>


      {% endif %}
        

      </div><!--end of panel-->
    </div> <!--end of sidebar -->

</div><!--end of row-->
    

{% endblock %}



