{% extends 'wetravel/base.html' %}
{% load wetravel_extras %}
{% block title %}Settings{% endblock %}
{% block content %}

<div class="settings">
    <section class="info-section">
        <div class="info-section-head">
            <h3>Profile Image</h3>
            <a id = "change-profile-image" class="edit" href="#">Edit</a>
        </div>
        {% if user.userprofile.avatar_image %}
            <p><img border="0" alt="Profile Pics" src="{{ user.userprofile.avatar_image }}" /></p>
        {% endif %}
    </section>

    <div id="dialog-profile-image-form" title="Upload Profile Image">
        <form id = 'haha' action="/wetravel/change_profile_image/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <p>
                    <input id="id_image" type="file" class="" name="image" />
                </p>
        </form>
    </div>
    <section class="info-section">
        <div class="info-section-head">
            <h3>Account Information</h3>
            <a id="change-account" class="edit" href="#">Edit</a>
        </div>
        <div class="info-section-info">
            <dl class="info">
              <dt>Username:</dt>
              <dd>{{ user.username }}</dd>
            </dl>
            <dl class="info">
              <dt>Email:</dt>
              <dd>{{ user.email }}</dd>
            </dl>
            <dl class="info">
                <dt>Password:</dt>
                <dd>********</dd>
            </dl>
        </div>
    </section>

    <div id="dialog-account-form" title="Change Password">
        <p>Please enter your new password:</p>
        <form  method="post" action="/wetravel/change_password/" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <label for="password">New Password:</label>
                <input type="password" name="password" id="password" />
                <label for="password2">Confirm Password:</label>
                <input type="password" name="password2" id="password2" />
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>

    <section class="info-section">
        <div class="info-section-head">
            <h3>Address</h3>
            <a id="change-address" class="edit" href="#">Edit</a>
        </div>
        <div class="info-section-info address">
            <dl class="info">
              <dt>Country:</dt>
              <dd id="dd-country">{{ user.userprofile.region.country }}</dd>
            </dl>
            <dl class="info">
              <dt>State:</dt>
              <dd id="dd-state">{{ user.userprofile.region.state }}</dd>
            </dl>
            <dl class="info">
              <dt>City:</dt>
              <dd id="dd-city">{{ user.userprofile.region.city }}</dd>
            </dl>
        </div>
    </section>

    <div id="dialog-address-form" title="Change Address Information">
        <p>All fields are required:</p>
        <form  method="post" action="/wetravel/change_address/" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <label for="country">Country</label>
                <input type="text" name="country" id="country" value="{{ user.userprofile.region.country }}" />
                <label for="state">State</label>
                <input type="text" name="state" id="state" value= "{{ user.userprofile.region.state }}" />
                <label for="city">City</label>
                <input type="text" name="city" id="city" value= "{{ user.userprofile.region.city }}" />
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>

    <section class="info-section">
        <div class="info-section-head">
            <h3>Travelling</h3>
            <a id="change-travelling" class="edit" href="/wetravel/places/">Edit</a>
        </div>
        <div class="info-section-info">
            <dl class="info">
              <dt>Place to go:</dt>
              <dd>
                {{ user.userprofile.to_visit }}

                <br>
              </dd>
            </dl>
            <dl class="info">
              <dt>Visited places:</dt>
              <dd>
                {% for place in user.userprofile.visited.all %}
                {{ place }}
                <br>
                {% endfor %}
              </dd>
            </dl>
        </div>
    </section>

</div>

{% endblock %}