{% extends 'wetravel/base.html' %}
{% load wetravel_extras %}
{% block title %}Index{% endblock %}
{% block content %}

<div class="settings">
    <section class="info-section">
        <div class="info-section-head">
            <h3>Profile Image</h3>
            <a class="edit" href="#">Edit</a>
        </div>
        {% if user.userprofile.avatar_image %}
            <p><img border="0" alt="Profile Pics" src="{{ user.userprofile.avatar_image }}" /></p>
        {% endif %}
    </section>
    <section class="info-section">
        <div class="info-section-head">
            <h3>Account Information</h3>
            <a id="change-account" class="edit" href="#">Edit</a>
        </div>
        <div class="info-section-info">
            <dl class="info">
              <dt>Username:</dt>
              <dd>{{ user.username }}</dd>
            </dl>
            <dl class="info">
              <dt>Email:</dt>
              <dd>{{ user.email }}</dd>
            </dl>
            <dl class="info">
              <dt>Password:</dt>
              <dd>{{ user.password }}</dd>
            </dl>
        </div>
    </section>

    <section class="info-section">
        <div class="info-section-head">
            <h3>Address</h3>
            <a class="edit" href="#">Edit</a>
        </div>
        <div class="info-section-info address">
            <dl class="info">
              <dt>Country:</dt>
              <dd>{{ user.userprofile.region.country }}</dd>
            </dl>
            <dl class="info">
              <dt>State:</dt>
              <dd>{{ user.userprofile.region.state }}</dd>
            </dl>
            <dl class="info">
              <dt>City:</dt>
              <dd>{{ user.userprofile.region.city }}</dd>
            </dl>
        </div>
    </section>

    <div id="dialog-form" title="Change Address Information">
        <p>All fields are required:</p>
        <form>
            <fieldset>
                <label for="country">Country</label>
                <input type="text" name="country" id="country" value={{ user.userprofile.region.country }} />
                <label for="state">State</label>
                <input type="text" name="state" id="state" value= {{ user.userprofile.region.state }} />
                <label for="city">City</label>
                <input type="text" name="city" id="city" value= {{ user.userprofile.region.city }} />
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>   
        </form>
    </div>

    <section class="info-section">
        <div class="info-section-head">
            <h3>Travelling</h3>
            <a id="change-travelling" class="edit" href="#">Edit</a>
        </div>
        <div class="info-section-info">
            <dl class="info">
              <dt>Places to go:</dt>
              <dd>
                {% for place in user.userprofile.to_visit.all %}
                {{ place }}
                {{ place.region}}
                <br>
                {% endfor %}
              </dd>
            </dl>
            <dl class="info">
              <dt>Visited places:</dt>
              <dd>
                {% for place in user.userprofile.visited.all %}
                {{ place }}
                {{ place.region }}
                <br>
                {% endfor %}
              </dd>
            </dl>
        </div>
    </section>

</div>
        
		

{% endblock %}