{% extends 'wetravel/base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<div class="my_div">
    <h1 class="my_h1">Signup with WeTravel</h1>
    <form id="user_form" method="post" action="/wetravel/signup/"
      enctype="multipart/form-data">
      {% csrf_token %}
      <!-- Display each form. The as_p method wraps each element in a paragraph
         (<p>) element. This ensures each element appears on a new line,
         making everything look neater. -->
      {% for field in user_form %}
        {% if field.errors %}
          <div>
              <label>{{ field.label }}</label>
              <div>{{ field }}
                  <span>
                    {% for error in  field.errors %}{{ error }}{% endfor %}
                  </span>
              </div>
          </div>
        {% else %}
          <div>
              <label>{{ field.label }}</label>
              <div>{{ field }}
                  {% if field.help_text %}
                    <p><small>{{ field.help_text }}</small></p>
                  {% endif %}
              </div>
          </div>
        {% endif %}
      {% endfor %}
      {% for field in profile_form %}
        {% if field.errors %}
          <div>
              <label>{{ field.label }}</label>
              <div>{{ field }}
                  <span>
                    {% for error in  field.errors %}{{ error }}{% endfor %}
                  </span>
              </div>
          </div>
        {% else %}
          <div>
              <label>{{ field.label }}</label>
              <div>{{ field }}
                  {% if field.help_text %}
                    <p><small>{{ field.help_text }}</small></p>
                  {% endif %}
              </div>
          </div>
        {% endif %}
      {% endfor %}
      <!-- Provide a button to click to submit the form. -->
      <div>
      </br>
        <input type="submit" name="submit" value="SignUp" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
