<html>
    <head>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    </head>
    <!--<form method="POST" id="iformp" name="nformp">-->
    <body>
    <h3>List of parameters</h3>
    <div>
        <form action="/wetravel/change_address/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <p>
                    <input id="id_image" type="file" class="" name="image" />
                </p>
        </form>
    </div>

    <!--<form>-->

    </body>

    </html>